# Hyperliquid API Keys (von https://app.hyperliquid.xyz/API)
HYPERLIQUID_ADDRESS=0xYourWalletAdresse
HYPERLIQUID_SECRET_KEY=YourApiPrivateKey

# Testnet or Mainnet?
ENV=TESTNET          # or MAINNET

# Trading-Parameter
COIN=BTC
RISK_PERCENT=0.8       # 80 % of the available capital will be used for the trade

# Fallback (is just used if risk_percent gives an error, e.g. because the API is not responding)
SLIPPAGE=0.015        # 1.5 % Slippage-Tolerance

MAX_LEVERAGE=20       # doesn't get pulled yet, but will be implemented in the future

# Webhook-Safety (optional)
WEBHOOK_SECRET=YourSecretPasswort

# Discord DM notifications (optional)
DISCORD_BOT_TOKEN=YourDiscordBotToken
DISCORD_USER_ID=123456789012345678